*{
    padding: 0;
    margin: 0;
}
#container{
    background-color: rgb(161, 210, 255);
    min-height: 100vh;
    max-height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mostrar-lista{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 8em;
    text-align: center;
    font-size: 2em;
    width: 20em;
    background-color: rgb(255, 254, 192);
    padding: 0.25em;
    border-radius: 6em;
    cursor: pointer;
    border: 0.1em solid black;
}
#lista-electrodomesticos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.articulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 19%;
    margin: 2em 0;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0px 2px 10px 1px rgb(75, 171, 250);
    padding-bottom: 1em;
    height: 12em;
}
.articulo h2{
    text-decoration: underline;
    font-size: 1.2em;
    margin: 0.5em 0;
}
.articulo span{
    font-weight: bold;
}
#precios{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#precios div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 2em 0;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0px 2px 10px 1px rgb(75, 171, 250);
    padding: 1em;
    font-size: 1.25em;
}